<section class="section-container">
  <h1>
    <lucide-icon name="book-open"></lucide-icon> Annuaire aléatoire
    <lucide-icon name="book-open"></lucide-icon>
  </h1>
  <h2>
    Cet annuaire permet d’ajouter des gens au hasard grâce à une API aléatoire.
    Have fun!
  </h2>
  <div class="add-user-container">
    <button (click)="userService.addUser()" class="add-user button">
      Ajouter un utilisateur
    </button>
  </div>
  <div class="search-text-container">
    <lucide-icon name="search"></lucide-icon>
    <input type="text" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="userService.searchText"
      placeholder="Search user" autofocus>
  </div>
  <div class="users">
    <app-user [user]="user" (deleted)="userService.removeUserFromList($event)" *ngFor="let user of userService.USERS| filter: userService.searchText; let index = index"></app-user>
    <div class="users__card add-user" (click)="userService.addUser()">
      <lucide-icon name="user-plus"></lucide-icon>
    </div>
  </div>
</section>
<router-outlet></router-outlet>