body {
    font-family: "Montserrat";
    font-size: 1.6rem;
    line-height: 1.5;
    color: rgba(var(--primary-color-rgb), 0.88);
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    lucide-icon {
        margin: 0 0.5rem;
    }
}

.add-user-container {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-flex;
    gap: 1em;
    align-items: center;
    appearance: none;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    border-radius: 2em;
    color: #fafafa;
    background: #000;
    cursor: pointer;
    font-weight: normal;
    font-family: inherit;
    padding: 0.5em 1em;
    transition: background 0.16s linear;
    margin: 1em 0;
}

.section-container {
    padding: 0 4rem 0 4rem;
}

.search-text-container {
    display: flex;
    border-radius: 4rem;
    width: 100%;
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #000;

    lucide-icon {
        align-self: center;
    }
}

#search-text {
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.5rem;
}

.users {
    h3 {
        text-align: left;
    }

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    padding-bottom: 2rem;
}

.users__card.add-user {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem dashed rgba($color: #000000, $alpha: 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.08);
    height: 500px;
    position: relative;

    &:hover {
        background-color: #212121;
    }

    svg {
        transition: transform 0.3s ease-in-out;
    }

    &:hover svg {
        color: #FAFAFA;
        transform: scale(1.25);
    }
}