.users__card {
    border-radius: 8px;
    box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.08);
    height: 500px;
    position: relative;
    animation: 0.4s ease-in-out scaleUp;

    .users__delete_user {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: rgb(143, 0, 0);
        cursor: pointer;
    }
}

@keyframes scaleUp {
    from { transform: scale(0); }
    to   { transform: scale(1); }
  }

.users__image-container {
    position: relative;
    z-index: -1;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 90%);
        z-index: 1;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}

.users__card-body {
    padding: 1rem;
    z-index: 50;
    margin-top: -30%;

    h3 {
        font-size: 24px;
        font-weight: 700;
    }

    p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 14px;
        margin: 0;
    }
}

.users__body-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}