<div class="users__card" *ngIf="user">
    <div class="users__image-container">
        <img src="{{ user.picture }}" />
    </div>
    <div class="users__card-body">
        <h3>{{ user.firstname }} {{ user.lastname }}</h3>
        <div class="users__body-content">
            <p class="users__age">
                <lucide-icon name="gift"></lucide-icon> Age : {{ user.age }}
            </p>
            <p class="users__address">
                <lucide-icon name="map"></lucide-icon> Adresse : {{ user.country }}
            </p>
            <p class="users__email">
                <lucide-icon name="mail"></lucide-icon> Email : {{ user.email }}
            </p>
        </div>
    </div>
    <lucide-icon (click)="deleteUser()" class="users__delete_user" name="trash"></lucide-icon>
</div>